@model IEnumerable<StudentDetails>
<div class="row  form-group mb-2">
    <div class="col-md-6">
        <h5 class="card-title">Student Details</h5>
    </div>

</div>
<div class="form-group row">
    <table class="table" id="tblStudentDetails">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Role Number</th>
                <th scope="col">DOB</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        @foreach(var student in Model)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.RegisterNumber</td>
                    <td>@student.DateOfBirth</td>
                    <td><a asp-controller="Admin" asp-action="Student" asp-route-studentResult ="@student.StudentResults">Add Result</a></td>
                </tr>
            }
    </table>
</div>