@model StudentResult
<div class="row  form-group mb-2">
    <div class="col-md-6">
        <h5 class="card-title">Add Marks</h5>
    </div>

</div>
<form asp-action="AddResult" asp-controller="Admin">

    <div class="form-group row">
        <table class="table" id="tblAddMarks">
            <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Mark</th>
                    <th scope="col">Grade</th>
                </tr>
            </thead>
            @foreach(var subject in ViewBag.Subjects)
            {
                <tr>
                    <td>@subject.Id</td>
                    <td>@subject.SubjectName</td>
                    <td><input type ="text" asp-for="TotalMark"/></td>
                    <td><input type ="text" asp-for="Grade"/></td>
                </tr>
            }
        </table>
    </div>
    <div class="text-right  col-md-12">
        <button type="button" id="btnAddStudentMarks" class="btn btn-primary  m-b-10">Add Marks</button>
    </div>
</form>